*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/back/.idea
/back/qlh-vue-api-system/target
/back/qlh-vue-config/target
/back/qlh-vue-core/target
/back/logs
/front/node_modules
/front/dist
/stuback/qlh-vue-api-system/target
/stuback/qlh-vue-config/target
/stuback/qlh-vue-core/target
/stuback/.idea
/stuback/logs
/stufront/node_modules
/stufront/dist
/back/.idea
/back/logs
/back/oss-study3.iml
/back/qlh-vue-api-system/qlh-vue-api-system.iml
/stuback/stu-study3.iml
/stuback/qlh-vue-api-system/qlh-vue-api-system.iml
/back/qlh-vue-api-system/src/main/resources/application-run.yml
/back/.idea
*.xls
资料/ossjk-study2.0-源码.zip
*.xlsx
*.pdb
*.pdm
*.rp
资料/原型/整合.rar
资料/新建 文本文档.txt
资料/项目架构.png
